<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starcor.stb.venom.mapper.ClientLogMapper">
  <resultMap id="BaseResultMap" type="com.starcor.stb.venom.model.ClientLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="client_os" jdbcType="VARCHAR" property="clientOs" />
    <result column="client_os_version" jdbcType="VARCHAR" property="clientOsVersion" />
    <result column="client_version" jdbcType="VARCHAR" property="clientVersion" />
    <result column="client_version_name" jdbcType="VARCHAR" property="clientVersionName" />
    <result column="client_version_code" jdbcType="VARCHAR" property="clientVersionCode" />
    <result column="device_uuid" jdbcType="VARCHAR" property="deviceUuid" />
    <result column="device_model" jdbcType="VARCHAR" property="deviceModel" />
    <result column="device_brand" jdbcType="VARCHAR" property="deviceBrand" />
    <result column="client_market" jdbcType="VARCHAR" property="clientMarket" />
    <result column="device_mac" jdbcType="VARCHAR" property="deviceMac" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="psd" jdbcType="VARCHAR" property="psd" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_os, client_os_version, client_version, client_version_name, client_version_code, 
    device_uuid, device_model, device_brand, client_market, device_mac, user_id, ip, 
    create_time, type, psd, file_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_client_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.starcor.stb.venom.model.ClientLog">
    insert into t_client_log (id, client_os, client_os_version, 
      client_version, client_version_name, client_version_code, 
      device_uuid, device_model, device_brand, 
      client_market, device_mac, user_id, 
      ip, create_time, type, 
      psd, file_path)
    values (#{id,jdbcType=INTEGER}, #{clientOs,jdbcType=VARCHAR}, #{clientOsVersion,jdbcType=VARCHAR}, 
      #{clientVersion,jdbcType=VARCHAR}, #{clientVersionName,jdbcType=VARCHAR}, #{clientVersionCode,jdbcType=VARCHAR}, 
      #{deviceUuid,jdbcType=VARCHAR}, #{deviceModel,jdbcType=VARCHAR}, #{deviceBrand,jdbcType=VARCHAR}, 
      #{clientMarket,jdbcType=VARCHAR}, #{deviceMac,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{psd,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.starcor.stb.venom.model.ClientLog">
    insert into t_client_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clientOs != null">
        client_os,
      </if>
      <if test="clientOsVersion != null">
        client_os_version,
      </if>
      <if test="clientVersion != null">
        client_version,
      </if>
      <if test="clientVersionName != null">
        client_version_name,
      </if>
      <if test="clientVersionCode != null">
        client_version_code,
      </if>
      <if test="deviceUuid != null">
        device_uuid,
      </if>
      <if test="deviceModel != null">
        device_model,
      </if>
      <if test="deviceBrand != null">
        device_brand,
      </if>
      <if test="clientMarket != null">
        client_market,
      </if>
      <if test="deviceMac != null">
        device_mac,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="psd != null">
        psd,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientOs != null">
        #{clientOs,jdbcType=VARCHAR},
      </if>
      <if test="clientOsVersion != null">
        #{clientOsVersion,jdbcType=VARCHAR},
      </if>
      <if test="clientVersion != null">
        #{clientVersion,jdbcType=VARCHAR},
      </if>
      <if test="clientVersionName != null">
        #{clientVersionName,jdbcType=VARCHAR},
      </if>
      <if test="clientVersionCode != null">
        #{clientVersionCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceUuid != null">
        #{deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="deviceModel != null">
        #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="deviceBrand != null">
        #{deviceBrand,jdbcType=VARCHAR},
      </if>
      <if test="clientMarket != null">
        #{clientMarket,jdbcType=VARCHAR},
      </if>
      <if test="deviceMac != null">
        #{deviceMac,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="psd != null">
        #{psd,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starcor.stb.venom.model.ClientLog">
    update t_client_log
    <set>
      <if test="clientOs != null">
        client_os = #{clientOs,jdbcType=VARCHAR},
      </if>
      <if test="clientOsVersion != null">
        client_os_version = #{clientOsVersion,jdbcType=VARCHAR},
      </if>
      <if test="clientVersion != null">
        client_version = #{clientVersion,jdbcType=VARCHAR},
      </if>
      <if test="clientVersionName != null">
        client_version_name = #{clientVersionName,jdbcType=VARCHAR},
      </if>
      <if test="clientVersionCode != null">
        client_version_code = #{clientVersionCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceUuid != null">
        device_uuid = #{deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="deviceModel != null">
        device_model = #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="deviceBrand != null">
        device_brand = #{deviceBrand,jdbcType=VARCHAR},
      </if>
      <if test="clientMarket != null">
        client_market = #{clientMarket,jdbcType=VARCHAR},
      </if>
      <if test="deviceMac != null">
        device_mac = #{deviceMac,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="psd != null">
        psd = #{psd,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starcor.stb.venom.model.ClientLog">
    update t_client_log
    set client_os = #{clientOs,jdbcType=VARCHAR},
      client_os_version = #{clientOsVersion,jdbcType=VARCHAR},
      client_version = #{clientVersion,jdbcType=VARCHAR},
      client_version_name = #{clientVersionName,jdbcType=VARCHAR},
      client_version_code = #{clientVersionCode,jdbcType=VARCHAR},
      device_uuid = #{deviceUuid,jdbcType=VARCHAR},
      device_model = #{deviceModel,jdbcType=VARCHAR},
      device_brand = #{deviceBrand,jdbcType=VARCHAR},
      client_market = #{clientMarket,jdbcType=VARCHAR},
      device_mac = #{deviceMac,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      psd = #{psd,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_client_log
  </select>
</mapper>