<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starcor.stb.venom.mapper.ClientLogMapper">
  <resultMap id="BaseResultMap" type="com.starcor.stb.venom.model.ClientLog">
    <id column="id" jdbcType="INTEGER" property="id" javaType="java.lang.Long" />
    <result column="client_os" jdbcType="VARCHAR" property="clientOs" />
    <result column="client_os_version" jdbcType="VARCHAR" property="clientOsVersion" />
    <result column="client_os_firmware" jdbcType="VARCHAR" property="clientOsFirmware" />
    <result column="app_version_name" jdbcType="VARCHAR" property="appVersionName" />
    <result column="app_version_code" jdbcType="VARCHAR" property="appVersionCode" />
    <result column="device_uuid" jdbcType="VARCHAR" property="deviceUuid" />
    <result column="device_model" jdbcType="VARCHAR" property="deviceModel" />
    <result column="device_brand" jdbcType="VARCHAR" property="deviceBrand" />
    <result column="client_market" jdbcType="VARCHAR" property="clientMarket" />
    <result column="device_mac" jdbcType="VARCHAR" property="deviceMac" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="psd" jdbcType="VARCHAR" property="psd" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_os, client_os_version, client_os_firmware, app_version_name, app_version_code,
    device_uuid, device_model, device_brand, client_market, device_mac, user_id, ip, 
    create_time, type, psd, file_path, product_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_client_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.starcor.stb.venom.model.ClientLog">
    insert into t_client_log (id, client_os, client_os_version, 
      client_os_firmware, app_version_name, app_version_code,
      device_uuid, device_model, device_brand, 
      client_market, device_mac, user_id, 
      ip, create_time, type, 
      psd, file_path, product_id)
    values (#{id,jdbcType=INTEGER}, #{clientOs,jdbcType=VARCHAR}, #{clientOsVersion,jdbcType=VARCHAR}, 
      #{clientOsFirmware,jdbcType=VARCHAR}, #{appVersionName,jdbcType=VARCHAR}, #{appVersionCode,jdbcType=VARCHAR},
      #{deviceUuid,jdbcType=VARCHAR}, #{deviceModel,jdbcType=VARCHAR}, #{deviceBrand,jdbcType=VARCHAR}, 
      #{clientMarket,jdbcType=VARCHAR}, #{deviceMac,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{psd,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.starcor.stb.venom.model.ClientLog">
    insert into t_client_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clientOs != null">
        client_os,
      </if>
      <if test="clientOsVersion != null">
        client_os_version,
      </if>
      <if test="clientOsFirmware != null">
          client_os_firmware,
      </if>
      <if test="appVersionName != null">
        app_version_name,
      </if>
      <if test="appVersionCode != null">
        app_version_code,
      </if>
      <if test="deviceUuid != null">
        device_uuid,
      </if>
      <if test="deviceModel != null">
        device_model,
      </if>
      <if test="deviceBrand != null">
        device_brand,
      </if>
      <if test="clientMarket != null">
        client_market,
      </if>
      <if test="deviceMac != null">
        device_mac,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="psd != null">
        psd,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
      <if test="productId != null">
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientOs != null">
        #{clientOs,jdbcType=VARCHAR},
      </if>
      <if test="clientOsVersion != null">
        #{clientOsVersion,jdbcType=VARCHAR},
      </if>
      <if test="clientOsFirmware != null">
        #{clientOsFirmware,jdbcType=VARCHAR},
      </if>
      <if test="appVersionName != null">
        #{appVersionName,jdbcType=VARCHAR},
      </if>
      <if test="appVersionCode != null">
        #{appVersionCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceUuid != null">
        #{deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="deviceModel != null">
        #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="deviceBrand != null">
        #{deviceBrand,jdbcType=VARCHAR},
      </if>
      <if test="clientMarket != null">
        #{clientMarket,jdbcType=VARCHAR},
      </if>
      <if test="deviceMac != null">
        #{deviceMac,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="psd != null">
        #{psd,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.starcor.stb.venom.model.ClientLog">
    update t_client_log
    <set>
      <if test="clientOs != null">
        client_os = #{clientOs,jdbcType=VARCHAR},
      </if>
      <if test="clientOsVersion != null">
        client_os_version = #{clientOsVersion,jdbcType=VARCHAR},
      </if>
      <if test="clientOsFirmware != null">
          client_os_firmware = #{clientOsFirmware,jdbcType=VARCHAR},
      </if>
      <if test="appVersionName != null">
        app_version_name = #{appVersionName,jdbcType=VARCHAR},
      </if>
      <if test="appVersionCode != null">
        app_version_code = #{appVersionCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceUuid != null">
        device_uuid = #{deviceUuid,jdbcType=VARCHAR},
      </if>
      <if test="deviceModel != null">
        device_model = #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="deviceBrand != null">
        device_brand = #{deviceBrand,jdbcType=VARCHAR},
      </if>
      <if test="clientMarket != null">
        client_market = #{clientMarket,jdbcType=VARCHAR},
      </if>
      <if test="deviceMac != null">
        device_mac = #{deviceMac,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="psd != null">
        psd = #{psd,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.starcor.stb.venom.model.ClientLog">
    update t_client_log
    set client_os = #{clientOs,jdbcType=VARCHAR},
      client_os_version = #{clientOsVersion,jdbcType=VARCHAR},
      client_os_firmware = #{clientOsFirmware,jdbcType=VARCHAR},
      app_version_name = #{appVersionName,jdbcType=VARCHAR},
      app_version_code = #{appVersionCode,jdbcType=VARCHAR},
      device_uuid = #{deviceUuid,jdbcType=VARCHAR},
      device_model = #{deviceModel,jdbcType=VARCHAR},
      device_brand = #{deviceBrand,jdbcType=VARCHAR},
      client_market = #{clientMarket,jdbcType=VARCHAR},
      device_mac = #{deviceMac,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      psd = #{psd,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR}
      product_id = #{productId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_client_log
    where 1=1
    <if test="_parameter != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="_parameter == null">
      and id = NULL
    </if>
  </delete>
  <delete id="deleteByIds" parameterType="java.util.List">
    delete from t_client_log where 1 > 2 or id in
    <foreach collection="list" item="item" index="no" open="("
             separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <select id="listAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_client_log
    order by create_time desc
  </select>
  <select id="listByTime" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_client_log
    where 1=1
    <if test="_parameter != null">
      <![CDATA[
      and create_time < #{createTime,jdbcType=INTEGER}
      ]]>
    </if>
  </select>
</mapper>