<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>异常分析</title>
</head>
<body>
<section layout:fragment="header">
    <h1>异常信息</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder"></i> 异常概览</a></li>
        <li class="active">异常信息</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-body no-padding">
            <table class="table">
                <tr>
                    <th><b><h4>日志信息</h4></b></th>
                </tr>
                <tr>
                    <th style="width:15%">日志类型</th>
                    <td style="width:85%"><span th:text="${info.type}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">日志文件</th>
                    <td style="width:85%">
                        <a th:href="${'/clientlog/download/' + info.filePath}">
                            <span th:text="${info.filePath}"></span>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;解压密码：
                        <span th:text="${info.psd}"></span>
                    </td>
                <tr>
                <tr>
                    <th style="width:15%">上报时间</th>
                    <td style="width:85%"><span th:text="${info.createTimeStr}"></span></td>
                </tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th><b><h4>APP信息</h4></b></th>
                </tr>
                <tr>
                    <th style="width:15%">项目名</th>
                    <td style="width:85%"><span th:text="${info.productId}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">APP版本名</th>
                    <td style="width:85%"><span th:text="${info.appVersionName}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">APP版本号</th>
                    <td style="width:85%"><span th:text="${info.appVersionCode}"></span></td>
                <tr>
                <tr>
                    <th style="width:15%">版本渠道</th>
                    <td style="width:85%"><span th:text="${info.clientMarket}"></span></td>
                <tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th><b><h4>用户信息</h4></b></th>
                </tr>
                <tr>
                    <th style="width:15%">用户ID</th>
                    <td style="width:85%"><span th:text="${info.userId}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">用户IP</th>
                    <td style="width:85%"><span th:text="${info.ip}"></span></td>
                <tr>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th><b><h4>设备信息</h4></b></th>
                </tr>
                <tr>
                    <th style="width:15%">设备ID</th>
                    <td style="width:85%"><span th:text="${info.deviceUuid}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">设备mac</th>
                    <td style="width:85%"><span th:text="${info.deviceMac}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">客户端</th>
                    <td style="width:85%"><span th:text="${info.clientOs}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">客户端版本</th>
                    <td style="width:85%"><span th:text="${info.clientOsVersion}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">固件版本</th>
                    <td style="width:85%"><span th:text="${info.clientOsFirmware}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">品牌</th>
                    <td style="width:85%"><span th:text="${info.deviceBrand}"></span></td>
                </tr>
                <tr>
                    <th style="width:15%">机型</th>
                    <td style="width:85%"><span th:text="${info.deviceModel}"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>